/*
   den 15 maj 202415:12:06
   User: 
   Server: LAPTOP-FSIIDL3L
   Database: DW
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.DimRoutes SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.DimDate SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.DimAirlines SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.FactFlights ADD CONSTRAINT
	FK_FactFlights_DimRoutes FOREIGN KEY
	(
	RouteID
	) REFERENCES dbo.DimRoutes
	(
	RouteID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.FactFlights ADD CONSTRAINT
	FK_FactFlights_DimAirlines FOREIGN KEY
	(
	AIRLINE
	) REFERENCES dbo.DimAirlines
	(
	IATA_CODE
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.FactFlights ADD CONSTRAINT
	FK_FactFlights_DimDate FOREIGN KEY
	(
	DATEKEY
	) REFERENCES dbo.DimDate
	(
	DATEKEY
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.FactFlights SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
